%TMPL:INCLUDE{"oopsmore"}%

%TMPL:DEF{"message"}%<div class=foswikiTopicText>
%TMPL:P{"revision"}%
%TMPL:P{"setparent"}%
%TMPL:P{"settings"}%
%TMPL:P{"delete"}%
%TMPL:P{"rename"}%
%TMPL:P{"copy"}%
%TMPL:P{"childtopics"}%
%TMPL:P{"backlinks"}%
</div>
%TMPL:END%

